@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html, body {
    margin: 0px; 
    background-color: rgb(243,243,243);
}

.front, .back {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-left: 0px;
    border: 1px solid rgb(211, 195, 195);
    padding: 3px 7px 3px 7px;
    width: 300px;
    margin-bottom: 15px;
}

input {
    margin-bottom: 10px;
    width: 300px;
    padding: 3px 7px 3px 7px;
    border: 1px solid black;
    border-radius: 5px;
}

.wordlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .logo {
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    margin: auto;
    margin-top: 30px;
    width: 10%;
    background-color: rgb(0, 255, 0);
    padding: 20px 80px;
    margin-bottom: 50px;
    border: 1px solid rgb(173, 165, 165);
    border-radius: 5px;
} */

.learn-button {
    background-color: rgb(0, 255, 0);
    color: white;
    font-size: 40px;
    padding: 5px 15px;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Architects Daughter';
}

.correct-display, .incorrect-display {
    font-family: 'Architects Daughter';
}

.correct-display {
    color: green;
    margin-right: 7px;
    margin-left: 3px;
}

.incorrect-display {
    color: red;
}

.edit-icon, .x-icon, .check-icon {
    height: 17px;
    width: 17px; 
}

.learn-button:hover {
    background-color: rgb(140, 255, 140);
}

h2 {
    text-align: center;
}

.progress {
    height: 2em;
    width: 12em;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
}

.progress-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.progress-bar {
    position: absolute;
    background-color:green;
    top: 0px;
    left: 0px;
    width: 5em;
    height: 2em;
}

.single-word {
    display: flex;
}
.edit-icon, .x-icon, .check-icon {
    margin-top: 5px;
    margin-left: 5px;
}

.dashboard h2 {
    font-size: 50px;
    margin-bottom: 4%;
    /* font-family: 'Noto Sans SC' */
}